.contenedor{
    width: 100%;
}

.carta{
    width:60%;
    height: 400px;
    position: relative;
    background-color: #fff;
    margin: 100px auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.left{
    width: 50%;
    height: 100px;
    transform: rotate(25.4deg);
    position: absolute;
    border-bottom:1px solid #ccc;
    top:0;
}

.right{
    width: 50%;
    height: 100px;
    transform: rotate(-25.4deg);
    position: absolute;
    border-bottom:1px solid #ccc;
    top:0;
    left: 435px;
}
.icono{
    position:absolute;
    left: 390px;
    top: 145px;
    color: #ce181e;
    font-size: 100px;
}

/* Responsive media query */
@media (max-width: 498px) {
  .contenedor{
    width: 100%;
  }

  .carta{
    width: 95%;
    height: 300px;
  }

  .left{
    transform: rotate(46.5deg);
    position: absolute;
    border-bottom:1px solid #ccc;
    width: 228px;

}

.right{
    transform: rotate(-46.5deg);
    position: absolute;
    border-bottom:1px solid #ccc;;
    left: 160px;
    width: 228px;
}
.icono{
    position:absolute;
    left: 145px;
    top: 110px;
    font-size: 100px;
}
}
